  <!-- Footer -->

  <footer class="colored-section" id="footer">
    <div class="container-fluid">
      <a href="mailto:intrusiondetection786@gmail.com" target="_blank"><i class="social-icon fas fa-envelope fa-2x" style="color: #fff;"></i></a>
      <a href="https://www.shaiksohail.xyz/" target="_blank"><i class="social-icon fas fa-regular fa-globe fa-2x" style="color: #fff;"></i></a>
      <a href="https://github.com/shaik-sohail-72" target="_blank"><i class="social-icon fab fa-github fa-2x" style="color: #fff;"></i></a>
      <a href="https://www.linkedin.com/in/shaik-sohail-a7b7aa240/" target="_blank"><i class="social-icon fab fa-linkedin fa-2x" style="color: #fff;"></i></a>
      
      <p>© <%= currentYear %> NIDS</p>
    </div>
  </footer>


</body>

</html>
