<%- include('partials/header') %>
<%-include('partials/loadhead') %>
<body onload="myFunction()" style="margin:0;">

<div id="loader"></div>

<div style="display:none;" id="myDiv" class="animate-bottom">
  <!-- complete body without including head -->
  <link rel="stylesheet" href="css/styles.css">
<div class="container-fluid">
<div class="about-section">
    <h1>About Our System</h1>
    <br>
    <p><h4>Development of Network Intrusion Detection System (NIDS), with Machine Learning and Deep Learning, Recurrent Neural Network models, MERN web I/O System.</h4></p>
    <br>
    <p style="color: #fff;">Large numbers of businesses were affected by data infringes and Cyber -attacks due to dependency on internet. To prevent such malicious activity, the network requires a system that detects anomaly and inform the user and alerts the user.</p>
    <p style="color: #fff;">This project detects Network Intrusion anomalies by using NSL - KDD data-set. The deep learning model Long Short Term Memory (LSTM), superior version of RNN (Recurrent Neural Network) and KNN K - Nearest Neighbour Algorithm) method are used for binary and multi class classification.</p>
    <p style="color: #fff;">The user enters the hacking parameters in the front end which is designed by using ReactJS. The model predicts the type of attack and gives information about the type of attack to the user. MongoDB is used for storing the data and NodeJS is served as back end framework.</p>
    <p style="color: #fff;">The project is fully responsive and completely based on session and cookies concepts. Once the user authenticated and logged-in It will not ask the user to enter the login parameters again and again (next visit). It ask login parameters only when user click on logout button. And also using google oauth 2.0 for user authentication and storing user details in salted hash in the mongoDB.</p>
  </div>
</div>
  <br><br><br>
  <h1 style="text-align:center">Our Team</h1>
<div class="container-fluid">
  <div class="row" style="color: #fff;">
  <div class="card card-about text-center" style="width: 22rem; margin: 0px 30px 30px 30px; background-color: #71C9CE">
    <img class="card-img-top" src="css/sohail.JPG" alt="sohail">
    <div class="card-body"  >
      
      <h4 class="card-title">Shaik Sohail Hussain</h4>
      <!-- <h5 class="card-title">21BD5A0511</h5> -->
      <h6 class="card-title">MERN Stack and Algorithms</h6>
      <p class="card-text">I'm a Computer Science student. My theme of interest is web development. And my eager interest has made me to build many web applications from frontend to backend. I like to create and design websites, web applications integrated with APIs, databases and machine learning algorithms etc. And I am passionate in learning new technologies and responsible towards my work.</p>
      <div class="container-fluid">
        <a href="https://www.shaiksohail.xyz/" target="_blank"><i class="social-icon fas fa-regular fa-globe fa-2x" style="color: #fff;"></i></a>
        <a href="https://github.com/shaik-sohail-72" target="_blank"><i class="social-icon fab fa-github fa-2x" style="color: #fff;"></i></a>
        <a href="https://www.linkedin.com/in/shaik-sohail-a7b7aa240/" target="_blank"><i class="social-icon fab fa-linkedin fa-2x" style="color: #fff;"></i></a>
        <a href="mailto:shaiksohailhu7n@gmail.com" target="_blank"><i class="social-icon fas fa-envelope fa-2x" style="color: #fff;"></i></a>
        </div>
    </div>
  </div>

  <div class="card card-about text-center" style="width: 22rem; height:450px; margin: 0px 30px 30px 30px; background-color: #71C9CE">
    <div class="card-body"  >
      <h4 class="card-title">Shifa Maheen</h4>
      <!-- <h5 class="card-title">21BD5A0512</h5> -->
      <h6 class="card-title">Front-end Development</h6>
      <p class="card-text">I'm a Computer Science student. My theme of interest is Video Editing and developing  Software products.I am passionate to learn the functionalities of new softwares emerging in the market. I love to code and develop new applications using my programming skills.</p>
      <div class="container-fluid">
        <a href="https://github.com/shifamaheen" target="_blank"><i class="social-icon fab fa-github fa-2x" style="color: #fff;"></i></a>
        <a href="https://www.linkedin.com/in/shifa-maheen-2b7a10241/" target="_blank"><i class="social-icon fab fa-linkedin fa-2x" style="color: #fff;"></i></a>
        <a href="mailto:shifamaheen77290@gmail.com" target="_blank"><i class="social-icon fas fa-envelope fa-2x" style="color: #fff;"></i></a>
        </div>
    </div>
  </div>

  <div class="card card-about text-center" style="width: 22rem; height:400px; margin: 0px 30px 30px 30px; background-color: #71C9CE">
    <div class="card-body"  >
      <h4 class="card-title">Mohammed Basheer Uddin</h4>
      <!-- <h5 class="card-title">21BD5A0511</h5> -->
      <h6 class="card-title">Research,Presentation,Developer</h6>
      <p class="card-text">Good in Presenting myself, with good communication skills , Good hands on  technical skills and with a belief in team work.</p>
      <div class="container-fluid">
        <a href="https://github.com/Central-Cee" target="_blank"><i class="social-icon fab fa-github fa-2x" style="color: #fff;"></i></a>
        <a href="https://www.linkedin.com/in/basheer-uddin-64a20425a/" target="_blank"><i class="social-icon fab fa-linkedin fa-2x" style="color: #fff;"></i></a>
        <a href="mailto:saifmohammed825@gmail.com" target="_blank"><i class="social-icon fas fa-envelope fa-2x" style="color: #fff;"></i></a>
        </div>
    </div>
  </div>

  <div class="card card-about text-center" style="width: 22rem; margin: 0px 30px 30px 30px; background-color: #71C9CE">
    <div class="card-body"  >
      <h4 class="card-title">Shubham Mola</h4>
      <!-- <h5 class="card-title">21BD5A0511</h5> -->
      <h6 class="card-title">Research, Documentation </h6>
      <p class="card-text"> I am passionate in learning new technologies and responsible towards working.</p>
      <div class="container-fluid">
        <a href=" https://github.com/shubhammola" target="_blank"><i class="social-icon fab fa-github fa-2x" style="color: #fff;"></i></a>
        <a href="https://www.linkedin.com/mwlite/in/shubham-mola-18ab20250" target="_blank"><i class="social-icon fab fa-linkedin fa-2x" style="color: #fff;"></i></a>
        <a href="mailto:molashubham11@gmail.com" target="_blank"><i class="social-icon fas fa-envelope fa-2x" style="color: #fff;"></i></a>
        </div>
    </div>
  </div>
  <div class="card card-about text-center" style="width: 22rem; margin: 0px 30px 30px 30px; background-color: #71C9CE">
    <div class="card-body"  >
      <h4 class="card-title">Muhammad Saif</h4>
      <!-- <h5 class="card-title">21BD5A0511</h5> -->
      <h6 class="card-title">Model Building and Project Imporvisation.</h6>
      <p class="card-text">I'm a computer science student , In my domain I do not have any particular field of interest because I am flexible enoungh to work in any domain in CS except those which conflicts my beliefs.</p>
      <div class="container-fluid">
        <a href="https://github.com/MohdSaif-1807" target="_blank"><i class="social-icon fab fa-github fa-2x" style="color: #fff;"></i></a>
        <a href="#" target="_blank"><i class="social-icon fab fa-linkedin fa-2x" style="color: #fff;"></i></a>
        <a href="mailto:saifmohd1807@gmail.com" target="_blank"><i class="social-icon fas fa-envelope fa-2x" style="color: #fff;"></i></a>
        </div>
    </div>
  </div>
</div>
</div>

<%- include('partials/footer') %>
</div>

<script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 200);
}
<%- include('partials/loadfoot') %>
