<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>NIDS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
  <script src="https://kit.fontawesome.com/5bf56866c4.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/homeStyles.css">
  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <!-- Bootstrap Scripts -->
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
  <section class="colored-section" id="title">
    <div class="container-fluid">
      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="" >NIDS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" >
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/submit">Predict</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/features">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/attacks">Attacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li>
              <a class="nav-link" href="/stats">Stats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Title -->
      <div class="row">
        <div class="col-lg-6">
          <h1 class="big-heading">Network Intrusion Detection System</h1>
          <a class="btn btn-light btn-lg download-button" href="/submit" ><i class="fa-solid fa-user"></i>  Sign-In</a>
          <a class="btn btn-outline-light btn-lg download-button" href="/register"><i class="fa-solid fa-user-plus"></i>  Sign-Up</a>
        </div>
        <div class="col-lg-6">
          <img class="title-image" src="css/iphone6.png" alt="iphone-mockup">
        </div>
      </div>
    </div>
  </section>
  <!-- Features -->
  <section class="white-section" id="features">
    <div class="container-fluid">
      <div class="row" style="color: #393E46;">
        <div class="feature-box col-lg-4">
          <i class="icon fa-solid fa-clock fa-4x"></i>
          <h3 class="feature-title">Network Traffic Processing</h3>
          <p class="feature-desc">Convert the traffic into multiple network parameter patterns (Signatures)</p>
        </div>
        <div class="feature-box col-lg-4">
          <i class="icon fa-solid fa-brain fa-4x"></i>
          <h3 class="feature-title">Prevent System</h3>
          <p class="feature-desc">Prevent System acts based on the threat detected</p>
        </div>
        <div class="feature-box col-lg-4">
          <i class="icon fa-solid fa-masks-theater fa-4x"></i>
          <h3 class="feature-title">Threat Reporting</h3>
          <p class="feature-desc">Report/Log the threat</p>
        </div>
        <div class="feature-box col-lg-4">
          <i class="icon fa-sharp fa-solid fa-book-skull fa-4x"></i>
          <h3 class="feature-title">Threat Classification</h3>
          <p class="feature-desc">Classify the threat based on signature matching</p>
        </div>
        <div class="feature-box col-lg-4">
          <i class="icon fa-solid fa-users-rays fa-4x"></i>
          <h3 class="feature-title">Anamaly Detection</h3>
          <p class="feature-desc">Match the input network signature against already available normal traffic fignature to detect the zero-day attacks</p>
        </div>
        <div class="feature-box col-lg-4">
          <i class="icon fa-brands fa-searchengin fa-4x"></i>
          <h3 class="feature-title">Signature Matching</h3>
          <p class="feature-desc">Match the input signature against the already available threat signature patterns</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Testimonials -->
  <section class="colored-section" id="testimonials" style="background-color: #00ADB5;">
    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <div class="card text-center">
            <div class="card-body" style="background-color: #71C9CE; border: none;">
              <h5 class="card-title">Denial of Service (DoS)</h5>
              <p class="card-text">A Denial-of-Service (DoS) attack is an attack meant to shut down a machine or network, making it inaccessible to its intended users. DoS attacks accomplish this by flooding the target with traffic, or sending it information that triggers a crash. In both instances, the DoS attack deprives legitimate users (i.e. employees, members, or account holders) of the service or resource they expected.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item container-fluid">
          <div class="card text-center">
            <div class="card-body" style="background-color: #71C9CE;">
              <h5 class="card-title">Probe</h5>
              <p class="card-text">Probing is another type of attack in which the intruder scans network devices to determine weakness in topology design or some opened ports and then use them in the future for illegal access to personal information.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item container-fluid">
          <div class="card text-center">
            <div class="card-body" style="background-color: #71C9CE;">
              <h5 class="card-title">Remote to user (R2L)</h5>
              <p class="card-text">Remote to user (R2L) is a type of computer network attacks, in which an intruder sends set of packets to another computer or server over a network where he/she does not have permission to access as a local user.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item container-fluid">
          <div class="card text-center">
            <div class="card-body" style="background-color: #71C9CE;">
              <h5 class="card-title">User to root (U2R)</h5>
              <p class="card-text">User to root (U2R) is an another type of attack where the intruder tries to access the network resources as a normal user,  and after several attempts, the intruder becomes as a full access user..</p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </section>
  <!-- Footer -->
 <%-include('partials/footer')%>



 