<%- include('partials/header') %>




<%-include('partials/loadhead') %>
<body onload="myFunction()" style="margin:0;">
<div id="loader"></div>
<div style="display:none;" id="myDiv" class="animate-bottom">
<div class="container-fluid">
  <div class="row">
<div class="card text-center" style="width: 23rem; margin: 30px; background-color: #71C9CE">
  <div class="card-body">
    <h5 class="card-title">RANDOM ROW PREDICT</h5>
    <p class="card-text">It will take single row from validation data to predict the type of attack.</p>
    <a href="/secrets" class="btn btn-dark" style="background-color: #24a0ed;">Predict</a>
  </div>
</div>


<div class="card text-center" style="width: 23rem; margin: 30px; background-color: #71C9CE">
  <div class="card-body">
    <h5 class="card-title">OPEN CSV</h5>
    <p class="card-text">It will take a CSV file of rows ranging from ( 1 ..500.. n rows) and update the file with type of attack for each row.</p>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>  
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>  
  <script>  
  $(document).ready(function() {  
     $('#uploadForm').submit(function() {  
         $("#status").empty().text("File is uploading...");  
        $(this).ajaxSubmit({  
            error: function(xhr) {  
                    status('Error: ' + xhr.status);  
    },
            success: function(response) {  
                    console.log(response)  
                    $("#status").empty().text(response);  
            }  
    });  
  
    return false;  
    });      
});  
  </script>  
  </head>  
  <div> 
      <form id="uploadForm" enctype="multipart/form-data" action="/uploadjavatpoint" method="post"> 
        <div class="textbox">
          <select name="selected_model">
            <option value="" disabled="disabled" selected="selected">Select Algorithm</option>
            <option value="knn">KNN - 97%</option>
            <option value="rf">RANDOM FOREST - 97%</option>
            <option value="cnn">CNN - 95%</option>
            <option value="lstm">LSTM - 95%</option>
          </select>
        </div>
        <div>
			<input  class="btn btn-dark"  style="background-color: #24a0ed;" type="file" id="f1"  name="myfile" placeholder="f2" accept=".csv,.txt" onclick="myfunction_1()">
		</div>
        <br>
       <input type="submit" id="bt-1" class="btn btn-dark"  style="background-color: #24a0ed;" value="Predict" name="submit" onclick="myfunction_2()" disabled><br/><br/>  
       <span id="status"></span>  
      </form>  
	</div>
      <form action="/download-file">
        <div>
            <button class="btn btn-dark" id="bt-2"   style="background-color: #24a0ed;" type="submit" disabled>Download File</button>
           <!-- <p>NOTE : Please wait for 2 sec and download. If file doesn't change please Re-Download the file.</p>-->
        </div>
    </form>
  </div>
</div>
<script>
  let timeout;
  function myfunction_1(){
    document.getElementById("bt-1").disabled=false;
  }
  function myfunction_2(){
    timeout=setTimeout(myfunction_3,10000);
  }
  function myfunction_3(){
    document.getElementById("bt-2").disabled=false;
  }
</script>


<div class="card text-center" style="width: 23rem; margin: 30px;background-color: #71C9CE">
  <div class="card-body">
    <h5 class="card-title">Enter Network Parameters</h5>
    <p class="card-text">It will take the network parameters from the user and predict the type of attack.</p>
    <a href="/parameters" class="btn btn-dark" style="background-color: #24a0ed;">Predict</a>
  </div>
</div>
</div>
</div>
<%- include('partials/footer') %>
</div>

<script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 200);
}
<%-include('partials/loadfoot') %>